
<main class="mainFormulario">
    <div class="containerformAP">
        <h1>Excluir Fornecedor</h1>
            <form class="formAP" action="/admin/excluirforne/{{fornecedor.id}}" method="post">
            <div class="contentAP">
                <div class="input-boxAP">
                    <label for="razaoSocial" class="labelAP">Razão Social:</label>
                    <input type="text" name="razaoSocial" value="{{fornecedor.razaoSocial}}"required>
                </div>
                <div class="input-boxAP">
                    <label for="nome" class="labelAP">Nome Fantasia:</label>
                    <input type="text" name="nomeFantasia" value="{{fornecedor.nomeFantasia}}"readonly>
                </div>
                <div class="input-boxAP">
                    <label for="cnpj" class="labelAP">CNPJ:</label>
                    <input type="text" name="cnpj" maxlength="18" value="{{fornecedor.cnpj}}" readonly>
                </div>
                <div class="input-boxAP">
                    <label for="email" class="labelAP">Email:</label>
                    <input type="text" name="email" value="{{fornecedor.email}}" readonly>
                </div>
                <div class="input-boxAP">
                    <label for="telefone" class="labelAP">Telefone:</label>
                    <input type="tel" name="telefone" maxlength="11" value="{{fornecedor.telefone}}" readonly>
                </div>
                <div class="input-boxAP">
                    <label for="endereco" class="labelAP">Endereço:</label>
                    <input type="text" name="endereco" value="{{fornecedor.endereco}}" readonly>
                </div>
                <div class="input-boxAP">
                    <label for="cep" class="labelAP">Cep:</label>
                    <input type="text" name="cep" value="{{fornecedor.cep}}" readonly>
                </div>
                <div class="input-boxAP">
                    <label for="cidade" class="labelAP">Cidade:</label>
                    <input type="text" name="cidade" value="{{fornecedor.cidade}}" readonly>
                </div>
            </div>
            <div class="btns">
                <button type="button" onclick="voltarPagina()" class="btn-confirmAP">Voltar</button>
                <input type="submit" value="Excluir" class="btn-confirmAP">
            </div>
        </form>
        </div>
    </div>
</main>


